@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); /* Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Nerko+One&display=swap'); /*Acme Lobster Nerko One*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /*Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); /*Courgette*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');/*Comfortaa*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&display=swap');/*Concert One*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');/*Righteous*/
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Monda:wght@700&family=Righteous&display=swap');/*Monda*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');/*Maven Pro*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@16&family=Paytone+One&display=swap');/*Paytone One*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');/*Bungee Tint*/
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap'); /*Style Script*/
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap'); /*Agbalumo*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');/*Baumans*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');/*Audiowide*/
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/*Nunito Maven Pro Righteous Monda Concert One Courgette Fredoka One Lobster Nerko One Poppins Playwrite HU Audiowide
Baumans*/
/*Agbalumo     Style Script     Bungee Tint  Syne Mono  Paytone One  Carter One   Nunito  DM Sans   Libertinus Keyboard
   Plus Jakarta    Manrope   Pattaya*/

@media (min-width: 781px) {
        body, html {
            font-family: "Nunito", sans-serif;
            margin-top: 0px;
            padding-top: 0px;
            /*background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);*/
            background-color: rgb(201, 201, 226);
        }
        
        .container {
            width: 80%;
            margin: auto;
            margin-top: 0px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: white;
            min-height: 100vh;
        }
        
        header {
            margin: 0px;
            padding: 10px;
            font-size: 17px;
        }
        header h1 {
            margin: 0px;
            padding: 0px;
            font-family: "Carter One";
        }
        .titleText {
            font-family: "Carter One", 'Trebuchet MS';
            padding: 3px 10px;
            color: #0A174E;
            background-color: #F5D042;
            border-radius: 11px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 12px rgba(0, 0, 0, 0.15);
        }
        .map-container {
            width: 90%;
            margin: auto;
            text-align: center;
        }
        .map-container h1 {
            font-family: "Paytone One";
        }
        #svg-display {
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
        }
        .mainTable {
            width: 90%;
            margin: auto;
        }
        
    .footerArea {
        padding: 15px;
        border-top:#000000 5px double;
        display: flex;
        flex-direction: row;
        font-family: "Maven Pro";
        font-size: 13px;
    }
    .footerArea p {
        margin-left: 10px;
    }
    .footerIcon {
        width: 140px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(71, 69, 58, 0.6); /* yellowish shadow */
        cursor: pointer;
    }
    .footerIcon:hover {
        box-shadow: 0 8px 16px rgba(71, 69, 58, 0.85);
    }

}
@media (max-width: 780px) {

    /* Hover color will be applied dynamically via JS */

    

}
